node_modules/
.env
*.log
downloads/
dist/
youtube-config.json
gcp-credentials.json
youtube-tokens.json
gcp-servicekey.json

# PM2 logs and runtime files
logs/
.pm2/
pm2.log
pm2-error.log

/src/generated/prisma
